/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

.menu-dropdown .dropdown-toggle::after {
  display: none!important;
}

.menu-link {
  text-decoration: none; /* Remove underline */
  color: inherit;       /* Inherit the color */
  transition: color 0.2s; /* Add a smooth color transition on hover */
}

.menu-link:hover {
  color: mediumpurple;
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar {
  background: rgb(191,142,12);
  background: linear-gradient(90deg, rgba(191,142,12,1) 0%, rgba(255,255,255,1) 50%, rgba(191,142,12,1) 100%);
}

footer {
  color: white;
  background-color: #333;
}